<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.netcipher.httpclient.test"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="29" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="info.guardianproject.netcipher.httpclient.test" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="NetCipherTest">
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>